@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Quicksand', sans-serif;
}


/* Header */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222831;
    z-index: 1000;
}

header .logo {
    color: #e8e8e8;
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

header ul {
    position: relative;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    padding: 5px 10px;
    color: #e8e8e8;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

header ul li a.active,
header ul li a:hover {
    font-weight: 600;
    color: #ffff;
}

.toggle {
    display: none;
}


/* Section */
section {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/background.png);
    background-repeat: no-repeat;
    padding: 150px 100px 100px;
    text-align: center;
}

section h1 {
    font-size: 75px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    color: #ececec;
}

section p {
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    color: #ececec;
}

section a {
    display: inline-block;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 20px;
    background: #ececec;
    color: #205aff;
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 20px;
}

section a.active,
section a:hover {
    background: #205aff;
    color: #ececec;
}

section:nth-child(odd) {
    position: relative;
    justify-content: center;
    align-items: center;
    background: #222831;
    color: #e8e8e8;
}


/* content 1 */
.wisata {
    font-family: 'Quicksand',
        sans-serif;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.wisata h1 {
    font-size: 45px;
}

.wisata p {
    font-size: 20px;
}

.wisata h1 {
    color: #ffc300;
}

.wisata-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.wisata-col img {
    width: 100%;
    display: block;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(84, 82, 231, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #ececec;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.wisata a {
    display: inline-block;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 20px;
    background: #205aff;
    color: #ececec;
    margin-top: -10px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 20px;
}

.wisata a.active,
.wisata a:hover {
    background: #205aff;
    color: #ececec;
    font-weight: bold;
}


/* content 2 */
.toleran-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.toleran {
    width: 87%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    font-family: 'Quicksand',
        sans-serif;
}

.toleran h1 {
    font-size: 50px;
    color: #ffc300;
    text-align: center;
    padding-top: 15px;
}

.toleran p {
    font-size: 20px;
    text-align: center;
}

.toleran-col {
    flex-basis: 48;
    padding: 30px 2px;
}

.toleran-col img {
    padding-right: 10px;
}

.toleran-col h3 {
    font-size: 36px
}

.toleran-col p {
    font-size: 16px;
    padding: 15px 0 15px;
    text-align: justify;
}


/* content 3 */
.tentangkami {
    width: 87%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: 'Quicksand',
        sans-serif;
}

.tentangkami h1 {
    font-size: 50px;
    color: #ffc300;
    text-align: center;
    padding-top: 15px;
}

.tentangkami p {
    font-size: 20px;
    text-align: center;
    margin-right: 50px;
}

.us {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.us img {
    margin-top: 10px;
    width: 250px;
}


/* contect 4 */
.hubungikami.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px; 
    padding-bottom: 20px;
}

.image {
    margin-right: 20px;
}

.kontakkami {
    width: 50%;
}

.kontakkami h1 {
    color: #ffc300;
}


/* contact-us */
.sosmed h1 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 4px;
    padding: 200px 0 100px;
    color: #555;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media a {
    display: flex;
    background: #e4e9ef;
    height: 76px;
    width: 76px;
    margin: 0 16px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform 0.5s;
}

.social-media a i {
    font-size: 36px;
    color: #777;
    transition: transform 0.5s;
}

.social-media a:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.01);
    transform: translateY(2px);
}

.social-media a:hover i {
    transform: scale(0.90);
}

.social-media a:hover .fa-facebook {
    color: #3b5998;
}

.social-media a:hover .fa-twitter {
    color: #00acee;
}

.social-media a:hover .fa-instagram {
    color: #3f729b;
}

.social-media a:hover .fa-youtube {
    color: #c4302b;
}


/* Footer */
footer {
    padding: 12px;
    color: #e8e8e8;
    background-color: #222831;
    text-align: center;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

/* Navbar login */
a.login {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px 20px;
}

a.login:hover{
    background: #777;
}

/* Login */
.login{
    background: grey;
    width: 100%;
    min-height: 100vh;
}
.form-cont {
    background-color: #0000;
    width: 100%;
    height: 470;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 2;
}

.inner-form {
    width: 60%;
    height: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px !important;
}


.social-login {
    position: relative;
    margin-top: 30px;
    text-align: center;
}

.social-login h1 {
    color: #fff;
    font-size: 28pt;
    font-weight: 500;
    text-align: center;
}

.social-login p {
    color: #fff;
    font-size: 15px;
}

.inner-form .login-form {
    margin: 10px 0;
}

.login-form label {
    color: white;
    font-size: 15px;
}

.login-form input {
    position: relative;
    background: #FEFEFE;
    border: 1px solid #FEFEFE;
    width: 95%;
    font-size: 13px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
}

.login-form input:hover {
    border: 3px solid #FEFEFE;
}

.login-form #hide {
    color: black;
    float: right;
    margin-top: -25px;
    padding-right: 40px;
    position: relative;
    z-index: 100;
}

.login-header h1 {
    color: white;
    text-align: center;
}

.login-form .button {
    font-size: 15px;
    padding: 10px;
    margin: 2vh 0 2vh 0;
    width: 95%;
    background-color: white;
    border: none;
    border-radius: 20px;
    outline: none;
    color: black;
    cursor: pointer;
}

.login-form .button:hover {
    background: black;
    border-color: black;
    color: white;
}

.login-form a {
    padding-bottom: 2px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.login-form a:hover {
    color: #777;
}

.login-container {
    display: flex;
    height: max-content;
    width: 30vw;
    color: #fff0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    padding: 70px 0 30px 0;
    background: #555;
    border-radius: 20px;
}

/* Responsive */
@media (max-width: 992px) {
    section {
        padding: 100px 50px 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    section h1 {
        font-size: 45px;
    }

    section p {
        font-size: 15px;
    }

    header ul {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 50px 100px;
        text-align: center;
        overflow: auto;
        transition: 0.5s;
        background: #222831;
        flex-direction: column;
        opacity: 0;
        transform: translateY(-100%);
    }

    header.active ul {
        top: 80px;
        opacity: 1;
        transform: translateY(0);
    }

    header ul li a {
        margin: 5px 0;
        font-size: 24px;
    }

    header .logo {
        font-size: 14px;
    }

    .wisata h1 {
        font-size: 45px;
    }

    .wisata p {
        font-size: 15px;
    }

    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .toggle:before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #ececec;
        z-index: 1;
        box-shadow: 0 10px 0 #e8e8e8;
        transition: 0.5s;
    }

    .toggle:after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #ececec;
        z-index: 1;
        transition: 0.5s;
    }

    header.active .toggle:before {
        top: 14px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 #ececec;
    }

    header.active .toggle:after {
        bottom: 14px;
        transform: rotate(-45deg);
    }

    .row {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .wisata-col h3 {
        font-size: 30px;
        margin-top: -40px;
    }

    .wisata-col img {
        width: 300px;
        height: 263px;
        padding-right: 0;
    }
}